    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Who are you people?</h2>
                <p>
                  Night Sweats is comedy production company located in Berlin. We are dedicated to fostering local talent and bringing the top comedians from around the world here to perform here in Berlin.
                  </p> 
                  <h3>Open Mic</h3>
                  <p>
                    We run a <a href="https://www.facebook.com/nightsweatscomedy/">weekly open mic</a> every Thursday at <a href="https://www.facebook.com/rotbart.rixdorf/">Rotbart</a> in Neukölln. It's a great place to watch more experienced comics try out new material and even some new comics get on stage for the first time.

                    If you'd like to perform please sign-up on the Facebook event. If you're an experienced comic and are interested in headlining please <a href="#contact" class="page-scroll">contact us</a>.
                  </p>
                  <h3>Shows</h3>
                  <p>
                  We also book shows featuring international acts. Subscribe to our <a href="#download" class="page-scroll">newsletter</a> to hear about upcoming shows.
                </p>
            </div>
        </div>
    </section>