    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>WTF is this?</h2>
                <p>
                  Night Sweats is comedy production company located in Berlin. We are dedicated to fostering talent here Berlin and bringing the top comedians from around the world here to perform.
                  </p> 
                  <p>
                    We run a <a href="https://www.facebook.com/nightsweatscomedy/">weekly open mic</a>, if you'd like to perform please sign-up on the Facebook event. If you're an experienced comic and are interested in headlining please <a href="/#contact">contact us</a>.
                  </p>
                  <p>
                  We also book shows featuring international acts. Subscribe to our <a href="#download" class="page-scroll">newsletter</a> to hear about upcoming shows.
                </p>
            </div>
        </div>
    </section>