    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="download-background-image">
                
            </div>
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Sign-up for our Newsletter</h2>
                    <p>Sign up to hear about upcoming shows. We won't write often, only when we have something really special to share ;)</p>
                    <a href="http://eepurl.com/bGkh_9" class="btn btn-default btn-lg" target="_blank">Subscribe</a>
                </div>
            </div>
        </div>
    </section>