    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Night Sweats</h1>
                        <p class="intro-text">Quality English Stand-Up Comedy in Berlin</p>
                        <p>
                          We run a weekly show on Sundays @ Rotbart in Neukölln, events are listed <a href="http://facebook.com/nightsweatscomedy/events">here</a>
                        </p>
                        <p>
                          We also organize special events featuring top-billed international comedians(acts who have performed on Comedy Central, Conan O'Brien, Netflix and many more).
                        </p>
                          <p>
                            Join our newsletter to hear about exclusive event pre-sales and discounts on upcoming shows:
                          </p>
                        <a href="http://eepurl.com/bGkh_9" class="btn btn-danger btn-lg get-tickets" target="_blank">Subscribe</a>
                        <br>
                        <a href="#about" class="btn btn-circle page-scroll header-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
