<header class="intro hari">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Hari Kondabolu</h1>
                    <h2 class="intro-text">Live for one night only December 18th at the Comedy Cafe Berlin
                    </h2>

                    <!-- <h4>“Hari Kondabolu is one of the most exciting political comics in stand-up today.”
                      <br>THE NEW YORK TIMES
                    </h4>
                    <h4>“A young man reaching for the hand-scalding torch of confrontational comics like Lenny Bruce and Richard Pryor.”
                      <br>
                      THE SEATTLE TIMES
                    </h4> -->

                    <h4>“This incorrigibly smart, rising comic exhibits a duality in his act that doesn’t seem quite plausible: He’s both political and fun…[and] deals in calmly reasoned polemics.”
                      <br>
                      TIMEOUT NY
                    </h4>
                    <!-- <p>10€</p> -->
                    <a href="#" class="btn btn-default btn-lg">Get Tickets</a>
                </div>
            </div>
        </div>
    </div>
</header>
