    <!-- About Section -->
    <section id="about-hari" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h3>“Hari Kondabolu is one of the most exciting political comics in stand-up today.”
                <h4>-THE NEW YORK TIMES</h4>
              </h3>
              <h3>“A young man reaching for the hand-scalding torch of confrontational comics like Lenny Bruce and Richard Pryor.”
              </h3>
              <h4>- THE SEATTLE TIMES</h4>

              <h3>“This incorrigibly smart, rising comic exhibits a duality in his act that doesn’t seem quite plausible: He’s both political and fun…[and] deals in calmly reasoned polemics.”

              </h3>
                <h4>- TIMEOUT NY</h4>
            </div>
        </div>
        <div class="row">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VetzFLfpcR0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      <div class="row">
        <a href="http://www.eventzilla.net/web/event?eventid=2138846695" class="btn btn-danger btn-lg get-tickets margin" target="_blank">Get Tickets</a>
      </div>
    </section>
