<header class="intro hari">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Hari Kondabolu</h1>
                    <h2>December 18th - Comedy Cafe Berlin</h2>
                    <!-- <h2 class="intro-text">Live for one night only December 18th at the Comedy Cafe Berlin -->
                    <!-- </h2> -->
                    <a href="http://www.eventzilla.net/web/event?eventid=2138846695" class="btn btn-danger btn-lg get-tickets" target="_blank">Get Tickets</a>
                </div>
            </div>
        </div>
    </div>
</header>
