.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(/img/filippo.JPG) no-repeat bottom center scroll;
    // background-color: {{ site.color.primary-dark }};
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    // filter: grayscale(100%);
    // -webkit-filter: grayscale(100%);
    background-blend-mode: multiply;
    background-color: #ed107a;
    // background-color: {{ site.color.links }};
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}


.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(/img/crowd.jpg) no-repeat center center scroll;
    background-color: {{ site.color.primary-dark }};
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-blend-mode: multiply;
    background-color: #ed107a;
}

.hari{
	 background: url(/img/hari1.jpg) no-repeat bottom center scroll;
    // background-color: {{ site.color.primary-dark }};
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.get-tickets{
  font-size: 3em;
}

.margin{
  margin-top: 2em;
  margin-bottom: 3em;
}

.more-info{
  padding-top:2em;
  display: none;
}

.more-info{
  display: block;
}

/*.teaser .get-tickets{
  display: none;
}*/

.more{
  color: white;
  /*text-decoration: underline;*/
  border-bottom: 1px solid;
  font-size: 1.2em;
}

.brand-heading{
  margin-top: 1em;
}

.header-scroll{
  margin: 1em 0;
}

.btn-danger {
    color: #fff;
    background-color: rgba(237, 16, 122, 0.8);
    border-color: #d43f3a;
}
.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #ed107a;
    border-color: #ed107a;
}

/*a, a:hover{
    color: rgba(237, 16, 122, 1);
    color: blue;
    text-decoration: underline;
}*/
