<!DOCTYPE html>
<html>
      {% include head.html %}
      <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
      {% include nav.html %}
      <div style="width:100%; text-align:left;" >
        <div class="" style="margin-top: 90px">
          <!-- <iframe  src="https://www.eventbrite.com/e/nick-thune-as-seen-on-netflix-conan-night-sweats-intl-comedy-night-tickets-20665371683?ref=eweb&aff=site" frameborder="0" margin-top="90px" height="1000" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe> -->
        </div>
      </div>
      {% include js.html %}
      </body>

    <script type="text/javascript">
      window.location = "http://www.nick-thune.eventbrite.com?aff=site";
    </script>
</html>
